@{
    ViewBag.Title = "Error!!!";
}
<div class="d-flex my-5">
    <div class="mx-auto my-auto">
        <div class="row">
            <div class="col-5">
                <img src="~/images/error.png" alt="Error" class="img-fluid" />
            </div>
            <div class="col-7 d-flex">
                <h4 class="my-auto">Đã có lỗi xảy ra! Vui lòng thử lại sau.</h4>
            </div>
        </div>

    </div>
</div>