@model IEnumerable<Product>
@{
    ViewBag.Title = "Trang chủ";
}
<div class="banner">
    <div class="container">
        <div class="banner-left">
            <h1>
                B <br> U <br> Y
            </h1>
        </div>
        <div class="banner-right">
            <div class="callbacks_container">
                <ul class="rslides" id="slider3">
                    <li>
                        <div class="banner-info">
                            <h3>Smart But Casual</h3>
                            <p>Start your shopping here...</p>
                        </div>
                    </li>
                    <li>
                        <div class="banner-info">
                            <h3>Shop Online</h3>
                            <p>Start your shopping here...</p>
                        </div>
                    </li>
                    <li>
                        <div class="banner-info">
                            <h3>Pack your Bag</h3>
                            <p>Start your shopping here...</p>
                        </div>
                    </li>
                </ul>

                <!-- Slideshow 3 Pager -->
                <ul id="slider3-pager">
                    <li><a href="#"></a></li>
                    <li><a href="#"></a></li>
                    <li><a href="#"></a></li>
                </ul>
            </div>
            <script>
                // You can also use "$(window).load(function() {"
                $(function () {

                    // Slideshow 3
                    $("#slider3").responsiveSlides({
                        manualControls: '#slider3-pager'
                    });
                });
            </script>
            <div class="float-right">
                <a href="/product" id="viewAllProduct">XEM TẤT CẢ SẢN PHẨM</a>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>

</div>
<!--banner end-->
<!--follow us - shipping - order online start-->
<div class="container">
    <div id="main-content">
        <div class="row text-center">
            <div class="col-md-4" id="follow-us">
                <span style="font-size: 20px;">Theo dõi chúng tôi:</span>
                <a href="#" id="twitter"></a>
                <a href="#" id="facebook"></a>
            </div>
            <div class="col-md-4 free-shipping" id="free-shipping">
                <div id="truct-shipping">
                    <span class="fas fa-truck-moving" id="truct-shipping"></span>
                </div>
                <div id="content-shipping">
                    <p id="free-shipping-slogan">Miễn phí vận chuyển</p>
                    <p>cho đơn hàng từ 500,000 đ</p>
                </div>
            </div>
            <div class="col-md-4" id="order-online">
                Đặt hàng qua điện thoại
                <p id="order-telephone">Gọi 19001009</p>
            </div>
        </div>
    </div>
</div>

<!--follow us - shipping - order online end-->
<!--lastest products start-->

<div class="container" id="lastest-product-section">
    <h1 class="text-center">Các sản phẩm nổi bật</h1>
    <partial name="_Product" model="@Model" />
</div>



