<div class="container-fluid">
    <div class="row">
        <div class="col-3">
            <div class="products">
                <div class="product-listy">
                    <h2>our Products</h2>
                    <ul class="product-list">
                        <li><a href="/dashboard/product">QUẢN LÝ SẢN PHẨM</a></li>
                        <li><a href="/dashboard/category">QUẢN LÝ DANH MỤC</a></li>
                        <li><a href="/dashboard/color">QUẢN LÝ MÀU SẮC</a></li>
                        <li><a href="/dashboard/size">QUẢN LÝ KÍCH THƯỚC</a></li>
                        <li><a href="/dashboard/guide">QUẢN LÝ HƯỚNG DẪN SỬ DỤNG</a></li>                        
                    </ul>
                </div>
            </div>
        </div>
    </div>
    
</div>