<div class="d-flex">
    <hr class="w-25 mb-4 mx-auto" />
</div>
<div class="container">
    <h4 class="text-center my-4">QUÊN MẬT KHẨU</h4>
    <div class="text-center">
        @TempData["msg"]
    </div>
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
            <form method="post">
                <div class="form-group">
                    <label>Nhập email tài khoản của bạn: </label>
                    <input type="email" name="email" class="form-control" />
                </div>
                <div class="d-flex">
                    <button class="btn btn-primary mx-auto">Xác thực email</button>
                </div>
            </form>
        </div>
    </div>
</div>