@model LoginModel
@{ 
    ViewBag.Title = "Đăng nhập";
}
<div class="d-flex">
    <hr class="w-25 mb-4 mx-auto" />
</div>
<div class="row">
    <div class="col-4"></div>
    <div class="col-4">
        <h4 class="text-center my-4">ĐĂNG NHẬP</h4>     
        <form method="post" class="form-group">
            <div asp-validation-summary="All"></div>
            <div class="form-group">
                <label asp-for="Username"></label>
                <input asp-for="Username" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Password"></label>
                <input asp-for="Password" class="form-control" />
            </div>
            <div class="form-group form-check">
                <label asp-for="Remember" class="form-check-label">
                    <input type="checkbox" asp-for="Remember" value="True" class="form-check-input" /> Ghi nhớ tài khoản
                </label>
            </div>
            <div class="d-flex mb-3">
                <input type="submit" class="btn btn-primary mx-auto" value="Đăng nhập" />
            </div>
            <div class="text-center">
                <p>Chưa có tài khoản? <a href="/auth/register">Đăng kí thành viên</a> ngay</p>
                <p><a href="/auth/forgotpassword">Quên mật khẩu</a></p>
            </div>
        </form>
    </div>
</div>