@model RegisterModel
@{
    ViewBag.Title = "Đăng kí thành viên";
}
<div class="d-flex">
    <hr class="w-25 mb-4 mx-auto" />
</div>
<div class="row">
    <div class="col-4"></div>
    <div class="col-4">
        <h4 class="text-center  my-4">ĐĂNG KÍ THÀNH VIÊN</h4>
        <form method="post" class="form-group">
            <div asp-validation-summary="All"></div>
            <div class="form-group">
                <label asp-for="Username"></label>
                <input asp-for="Username" class="form-control" required/>
            </div>
            <div class="form-group">
                <label asp-for="Password"></label>
                <input asp-for="Password" class="form-control" required/>
            </div>
            <div class="form-group">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control" required/>
            </div>
            <div class="form-group">
                <label asp-for="Gender">Giới tính: </label>
                <select asp-for="Gender" class="form-control">
                    <option value="true">Nam</option>
                    <option value="false">Nữ</option>
                </select>
            </div>
            <div class="d-flex mb-3">
                <input type="submit"  class="btn btn-primary mx-auto" value="Đăng kí" />
            </div>
            <div class="text-center">
                <p>Đã có tài khoản?  <a href="/auth/login">Đăng nhập </a>ngay</p>
            </div>
        </form>
    </div>
</div>