@{
    ViewBag.Title = "Thống kê doanh thu bán hàng";
}
<div class="container">
    <h3 class="text-center mb-5">THỐNG KÊ TÌNH HÌNH DOANH THU</h3>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">Tổng doanh thu theo tháng (ĐVT: VNĐ)</div>
                <div class="card-body">
                    <canvas id="revenueByMoths"></canvas>
                </div>
            </div>
        </div>
        <div class="col-6 mt-4">
            <div class="card">
                <div class="card-header">Top 5 sản phẩm bán chạy nhất (ĐVT: VNĐ)</div>
                <div class="card-body">
                    <canvas id="topBestSellingProduct"></canvas>
                </div>
            </div>
        </div>
        <div class="col-6 mt-4">
            <div class="card">
                <div class="card-header">Top 5 sản phẩm tồn kho nhiều nhất (ĐVT: VNĐ)</div>
                <div class="card-body">
                    <canvas id="topHighestInventoryProducts"></canvas>
                </div>
            </div>
        </div>
        <div class="col-6 mt-4">
            <div class="card">
                <div class="card-header">Tỷ trọng doanh thu theo kích cỡ (ĐVT: %)</div>
                <div class="card-body">
                    <canvas id="revenueRatioBySize"></canvas>
                </div>
            </div>
        </div>
        <div class="col-6 mt-4">
            <div class="card">
                <div class="card-header">Tỷ trọng doanh thu theo màu sắc (ĐVT: %)</div>
                <div class="card-body">
                    <canvas id="revenueRatioByColor"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>
@section script{
    <script src="~/js/chart.js"></script>
}